body {
    background-color: white;
    font-size: 20px;
}
h1 {
    color: rgba(255, 0, 0, 0.773);
    text-align: center;
    font: bold;
}
h2 {
    color: rgba(255, 0, 0, 0.773);
    font: bold;
}
h3 {
    color: rgba(255, 0, 0, 0.773);
}
label {
    color: rgba(255, 0, 0, 0.773);
}
.center {
    display:block;
    margin-left: auto;
    margin-right: auto;
}

